*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fffdfa;
  font-family: "Inter", sans-serif;
  padding-top: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.blackBack {
  top: 0px;
  left: 0px;
  height: 150%;
  width: 100%;
  filter: brightness(40%);
  background-color: rgba(0, 0, 26, 0.4392156863);
  position: absolute;
  opacity: 0;
}

.menuOpen {
  width: 60%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
  opacity: 0;
  display: none;
  transition: all 0.5s;
}
.menuOpen img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 4.5rem;
  left: 90%;
  cursor: pointer;
}
.menuOpen ul {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 1.5rem;
  top: 9rem;
  gap: 2rem;
  font-size: 20px;
}
.menuOpen ul li, .menuOpen ul a {
  text-decoration: none;
  list-style: none;
  color: #303347;
  transition: all 0.5s;
  cursor: pointer;
  font-weight: bold;
}
.menuOpen ul li:hover, .menuOpen ul a:hover {
  color: #f15e50;
}

.navbar {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .navbar-menu img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 4.5rem;
  left: 90%;
  cursor: pointer;
  display: none;
}
.navbar .navbar-menu ul {
  display: flex;
  gap: 2rem;
  font-size: 18px;
}
.navbar .navbar-menu ul li, .navbar .navbar-menu ul a {
  text-decoration: none;
  list-style: none;
  transition: all 0.5s;
  color: #8c8da4;
  cursor: pointer;
}
.navbar .navbar-menu ul li:hover, .navbar .navbar-menu ul a:hover {
  color: #f15e50;
}

.main {
  display: flex;
  margin-top: 2rem;
}
.main .main-left {
  display: flex;
  flex-direction: column;
}
.main .main-left img {
  width: 94%;
}
.main .main-left .main-left__info {
  padding-top: 2rem;
  width: 96%;
  display: flex;
  gap: 7rem;
}
.main .main-left .main-left__info h1 {
  font-size: 65px;
  font-weight: 900;
}
.main .main-left .main-left__info .main-left__infoTwo p {
  font-size: 20px;
  color: #5d5f79;
}
.main .main-left .main-left__info .main-left__infoTwo button {
  background-color: #f15e50;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  width: 190px;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 100px;
}
.main .main-left .main-left__info .main-left__infoTwo button:hover {
  background-color: #00001a;
}
.main .main-right {
  display: flex;
  flex-direction: column;
  background-color: #00001a;
  color: white;
  width: 900px;
  height: auto;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.main .main-right h1 {
  color: #e9ab53;
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 40px;
}
.main .main-right p {
  color: #8c8da4;
  font-size: 18px;
}
.main .main-right .newOne h3 {
  font-size: 20px;
  transition: all 0.3s;
  margin-bottom: 1rem;
  cursor: pointer;
}
.main .main-right .newOne h3:hover {
  color: #e9ab53;
}
.main .main-right .newTwo h3 {
  font-size: 20px;
  margin-bottom: 1rem;
  transition: all 0.3s;
  cursor: pointer;
}
.main .main-right .newTwo h3:hover {
  color: #e9ab53;
}
.main .main-right .newThree h3 {
  font-size: 20px;
  margin-bottom: 1rem;
  transition: all 0.3s;
  cursor: pointer;
}
.main .main-right .newThree h3:hover {
  color: #e9ab53;
}
.main .main-right .line {
  height: 1px;
  width: 100%;
  background-color: rgba(197, 198, 206, 0.4392156863);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.bottom img {
  height: 15rem;
}
.bottom .sectionOne, .bottom .sectionTwo, .bottom .sectionThree {
  display: flex;
  gap: 1rem;
}
.bottom .sectionOne .text h1, .bottom .sectionTwo .text h1, .bottom .sectionThree .text h1 {
  font-size: 38px;
  color: rgba(140, 141, 164, 0.7098039216);
  margin-bottom: 1rem;
}
.bottom .sectionOne .text h2, .bottom .sectionTwo .text h2, .bottom .sectionThree .text h2 {
  font-size: 26px;
}
.bottom .sectionOne .text p, .bottom .sectionTwo .text p, .bottom .sectionThree .text p {
  font-size: 18px;
  color: #6e6f86;
}/*# sourceMappingURL=style.css.map */